CodeBattle.net/.vs/
CodeBattle.net/obj/
CodeBattle.net/CodeBattleNet/obj/Debug/
CodeBattle.net/CodeBattleNet/obj/Release/
CodeBattle.net/CodeBattleNet/bin/Debug/
CodeBattle.net/CodeBattleNet/bin/Release/
CodeBattle.net/CodeBattleNetLibrary/obj/Debug/
CodeBattle.net/CodeBattleNetLibrary/obj/Release/
CodeBattle.net/CodeBattleNetLibrary/bin/Debug/
CodeBattle.net/CodeBattleNetLibrary/bin/Release/
CodeBattle.net/packages/
CodeBattle.cpp/.vs/
CodeBattle.cpp/CodeBattleCpp/Debug/
CodeBattle.cpp/CodeBattleCpp/Release/
CodeBattle.cpp/CodeBattleCppLibrary/Debug/
CodeBattle.cpp/CodeBattleCppLibrary/Release/
CodeBattle.cpp/Debug/
CodeBattle.cpp/Release/
CodeBattle.cpp/CodeBattleCpp.VC.db
CodeBattle.cpp/CodeBattleCpp.VC.VC.opendb
CodeBattle.python/__pycache__/
CodeBattle.java/*.iml
CodeBattle.java/target
CodeBattle.java/.idea
/CodeBattle.cpp/CodeBattleCpp/x64/Debug
/CodeBattle.cpp/CodeBattleCpp/x64/Release
/CodeBattle.cpp/CodeBattleCppLibrary/x64/Debug
/CodeBattle.cpp/CodeBattleCppLibrary/x64/Release
/CodeBattle.cpp/x64/Debug
/CodeBattle.cpp/x64/Release
*.lock
.idea