CodeBattle.net/.vs
CodeBattle.net/CodeBattleNet/bin
CodeBattle.net/CodeBattleNet/obj
CodeBattle.net/CodeBattleNetLibrary/bin
CodeBattle.net/CodeBattleNetLibrary/obj
CodeBattle.net/packages
CodeBattle.netcore/.vs
CodeBattle.netcore/CodeBattleNet/bin
CodeBattle.netcore/CodeBattleNet/obj
CodeBattle.netcore/CodeBattleNetLibrary/bin
CodeBattle.netcore/CodeBattleNetLibrary/obj
CodeBattle.netcore/packages
CodeBattle.cpp/.vs
CodeBattle.cpp/CodeBattleCpp/x64
CodeBattle.cpp/CodeBattleCpp/Debug
CodeBattle.cpp/CodeBattleCpp/Release
CodeBattle.cpp/CodeBattleCppLibrary/Debug
CodeBattle.cpp/CodeBattleCppLibrary/Release
CodeBattle.cpp/CodeBattleCppLibrary/x64
CodeBattle.cpp/x64
CodeBattle.cpp/Debug
CodeBattle.cpp/Release
CodeBattle.cpp/CodeBattleCpp.VC.db
CodeBattle.cpp/CodeBattleCpp.VC.VC.opendb
CodeBattle.python/__pycache__
CodeBattle.java/*.iml
CodeBattle.java/target
CodeBattle.java/.idea
*.lock
.idea